.env.example name=.env.example
VITE_API_KEY=your_api_key_here
VITE_STRIPE_KEY=pk_live_xxxxx
VITE_VERCEL_TOKEN=your_vercel_token
VITE_AI_ENDPOINT=https://api.ghost-innovations.dev
VITE_FIREBASE_CONFIG={"apiKey":"xxx","projectId":"xxx"}
VITE_DOMAIN=http://hollywoodimaging.studio/
